body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-grid {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 20px;
  grid-template-rows: 1fr;
  grid-template-columns: 50% 50%;
  padding: 10px;
}

.card-set {
  border: 1px #f2eae3 solid;
}

.cards {
  list-style: none;
  padding-left: 10px;
}

.cards > li {
  display: inline-block;
  margin: 0 5px 0 0;
}

.card {
  position: relative;
  width: 100%;
}

.card.img {
  display: block;
  width: 100%;
  height: auto;
}

.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color: #61dafb;
}

.card:hover:after {
  opacity: 0.6;
  cursor: pointer;
}

.card.selected:after {
  opacity: 0.6;
  cursor: pointer;
  background-color: #61fb7b;
}

.card-set .card img {
  height: 85px;
}

