body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.side-switch-label {
  cursor: pointer;
}

.side-switch-label input {
  margin: 0 5px 0 0;
  cursor: pointer;
}

.cards {
  list-style: none;
  padding-left: 10px;
}

.cards > li {
  display: inline-block;
  margin: 0 5px 0 0;
}

.card {
  position: relative;
  width: 100%;
}

.card.img {
  display: block;
  width: 100%;
  height: auto;
}

.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color: #61dafb;
}

.card:hover:after {
  opacity: 0.6;
  cursor: pointer;
}

.card.selected:after {
  opacity: 0.6;
  cursor: pointer;
  background-color: #61fb7b;
}

.card-set .card img {
  height: 85px;
}

.card-grid {
  display: grid;
  height: 400px;
}

.card-set {
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  border: 1px sandybrown solid;
}

/* 3 players: make the last one take two colums*/
.card-set:nth-child(3):nth-last-child(1) {
  grid-column:span 2;
}

/* 4 players: make the second in the second column */
.card-set:nth-child(2):nth-last-child(3) {
  grid-column:2;
}
